.qty-groups {
}

.qty-btn {
    width: 40px;
    height: 38px;
    border: 1px solid #dc3545;
    background-color: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 100px;
}

.qty-input {
    width: calc(100% - 90px);
    height: 38px;
    margin: 0 5px;
    border: 1px solid #dc3545;
    border-radius: 100px;
    
}

.text-gray{
    color: rgb(126, 126, 126);
}
